Flask==3.0.2
Flask-Cors==4.0.0
requests==2.31.0
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.33
langchain-openai==0.1.1
langchain-pinecone==0.0.3
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.27
json5==0.9.14
boto3==1.28.50
openai==1.14.1
react
react-dom
react-markdown
rehype-raw
remark-breaks
# concurrent.futures is part of the standard library, no need to install it separately

# Additional dependencies from your pip freeze that might be relevant
Werkzeug
numpy
pandas
Pillow
beautifulsoup4
'unstructured[all-docs]'